<script lang="ts" setup>
import { ref } from "vue";
const numbers = ref("0");
</script>

<template>
  <v-row>
    <v-col>
      <v-text-field
        v-model="numbers"
        label="Please input Number"
        :rules="[(v) => !!v || 'Number is not empty']"
        required
      ></v-text-field>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="1" v-for="item of parseInt(numbers)" :key="item">
      {{ item }}
    </v-col>
  </v-row>
</template>
