<script lang="ts" setup>
import { ref } from "vue";
const images = ref("../../feeling_imgs/smile.png");
const nameImages = ref("Smile");
function Feeling(img: string, nameImg: string) {
  images.value = img;
  nameImages.value = nameImg;
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="images"></v-img>
      </v-col>
      <v-col class="text-center text-h2 font-weight-bold"
        >{{ nameImages }}
        <v-col>
          <v-btn
            width="700px"
            @click="Feeling('feeling_imgs/angry.png', 'ANGRY')"
            :color="nameImages === 'ANGRY' ? 'yellow' : 'white'"
            >ANGRY</v-btn
          >
        </v-col>
        <v-col>
          <v-btn
            width="700px"
            @click="Feeling('feeling_imgs/cute.png', 'CUTE')"
            :color="nameImages === 'CUTE' ? 'yellow' : 'white'"
            >CUTE</v-btn
          >
        </v-col>
        <v-col>
          <v-btn
            width="700px"
            @click="Feeling('feeling_imgs/excited.png', 'EXCITED')"
            :color="nameImages === 'EXCITED' ? 'yellow' : 'white'"
            >EXCITED</v-btn
          >
        </v-col>
        <v-col>
          <v-btn
            width="700px"
            @click="Feeling('feeling_imgs/pain.png', 'PAIN')"
            :color="nameImages === 'PAIN' ? 'yellow' : 'white'"
            >PAIN</v-btn
          >
        </v-col>
        <v-col>
          <v-btn
            width="700px"
            @click="Feeling('feeling_imgs/shocked.png', 'SHOCKED')"
            :color="nameImages === 'SHOCKED' ? 'yellow' : 'white'"
            >SHOCKED</v-btn
          >
        </v-col>
        <v-col>
          <v-btn
            width="700px"
            @click="Feeling('feeling_imgs/smile.png', 'SMILE')"
            :color="nameImages === 'SMILE' ? 'yellow' : 'white'"
            >SMILE</v-btn
          >
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
