<script lang="ts" setup>
import { ref } from "vue";
import { useProductStore } from "@/stores/products";
import type ListProduct from "@/stores/types/listProduct";
const productStore = useProductStore();
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const addItem = (menu: ListProduct) => {
  productStore.Add(menu);
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-card style="overflow-y: auto" height="840px">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id"
              ><v-card height="150px" width="200px">
                <v-card-title class="text-center">{{ item.name }}</v-card-title>
                <v-card-title class="text-center">{{
                  item.price
                }}</v-card-title>
                <div class="text-center">
                  <v-btn @click="addItem(item)">ADD</v-btn>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col>
        <v-container>
          <v-card style="overflow-y: auto" height="760px">
            <v-table>
              <thead>
                <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>price</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item of productStore.listProduct" :key="item.id">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                </tr>
                <tr>
                  <td
                    style="text-align: center"
                    v-if="productStore.listProduct.length == 0"
                  >
                    No Data
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
          <div class="text-h2">Sum: {{ productStore.sum }}</div>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
