<script setup lang="ts">
import SolveProblem4 from "@/views/SolveProblem4.vue";
import { useCounterStore } from "@/stores/counter";
const countStore = useCounterStore();
</script>
<template>
  <h3>First Component</h3>
  <h3>{{ countStore.count }}</h3>
  <v-btn @click="countStore.increment">INCREASE</v-btn>
</template>
