<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const countStore = useCounterStore();
</script>
<template>
  <h3>Second Component</h3>
  <h3>{{ countStore.doubleCount }}</h3>
  <v-btn @click="countStore.decrement">DECREASE</v-btn>
</template>
